*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{

    background-image: url("../img/fondo.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.contenedor{
    width: 380px;
    max-width: 90%;
    background: rgba(255,255,255,.95);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgba(0,0,0,.35);
    margin-top: 300px;
}

h1{
    text-align: center;
    margin-bottom: 15px;
    color: #1d3557;
}

h2{
    text-align: center;
    margin-bottom: 35px;
    color: #555;
}
h3{
   text-align: center;
    margin-bottom: 25px;
    color: #555; 
}


input{
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #66d9ff;
    outline: none;
    font-size: 16px;
    background: transparent;
}

select{
    width: 100%;
    padding: 12px;
    margin-bottom: 25px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button{
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 30px;
    background: #71a7db;
    color: black;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    background: #4d8ecb;
    color: white;
}

p{
    text-align: center;
    margin-top: 25px;
}

a{
    text-decoration: none;
    color: #1d3557;
    font-weight: bold;
}

a:hover{
    color: #4d8ecb;
}

#mensaje{
    margin-top:15px;
    text-align:center;
    font-weight:bold;
    color:red;
}